@model List<Indextrious.Models.Card>

@{
    int index = 0;
}


<div id="carousel" class="carousel slide" data-bs-interval="false">
    <div id="index-card-carousel" class="carousel-inner">
        @if (Model.Count() == 0)
        {
            <div class="carousel-item blank-card active">
                <div class="index-card">
                    <input type="text" class="card-title" placeholder="Card Title">
                    <img src="/images/save.png" class="save-button" alt="save">
                    <textarea class="card-body" placeholder="Card Body"></textarea>
                </div>
            </div>
        }
        else
        {
            @foreach (IndexCard card in Model)
            {
                <div class="carousel-item @(index == 0 ? "active" : "")" data-id="@card.Id" data-index="@index">
                    <div class="index-card">
                        <input type="text" class="card-title" placeholder="Card Title" value="@card.Title" disabled>
                        <img src="/images/close.png" class="close-button card-close" alt="close" hidden>
                        <img src="/images/save.png" class="save-button card-save" alt="save" hidden>
                        <img src="/images/edit.png" class="edit-button card-edit" alt="edit">
                        <textarea class="card-body" placeholder="Card Body" disabled>@card.Body</textarea>
                    </div>
                </div>
                index++;
            }
        }
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>