@model CardCollection

@{
    int count = 0;
}

<button id="add-file-btn" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal">Add File</button>

<button id="create-card-btn" type="button" class="btn btn-success">Create Card</button>

<div id="collection-title-container">
    <img id="collection-edit" src="/images/edit.png" class="edit-button invert-icon" alt="edit">
    <img id="collection-save" src="/images/save.png" class="invert-icon" alt="save">
    <input id="collection-title" value="@Model.Name" readonly />
</div>


<div id="file-nav">

    @foreach (var file in Model.CardFiles)
    {
        var tabClass = "";
        switch (count % 3)
        {
            case 0:
                tabClass = "tab-one";
                break;
            case 1:
                tabClass = "tab-two";
                break;
            case 2:
                tabClass = "tab-three";
                break;
        }
        count++;
        <div class="file-tab @tabClass" data-file-id="@file.Id">
            <div class="tab-text" title="@file.Label">@file.Label</div>
        </div>
    }

</div>

<div id="carousel-container">
    
</div>

<div id="card-nav">

</div>



<!-- The Modal -->
<div class="modal fade bg-dark text-light" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title">Create a new file</h5>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="create-file-form" action="@Url.Action("CreateFile", "CardCollection")" method="post">
                    <div class="form-group">
                        <label for="file-name" class="col-form-label">Name your file:</label>
                        <input type="text" class="form-control bg-dark text-light" id="file-name" name="name">
                    </div>
                    <input type="hidden" name="parentCollectionId" value="@Model.Id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-light" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary text-light" form="create-file-form">Create</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var originalTitle = $("#collection-title").val();
            var enterPressed = false;

            $("#create-file-form").submit(function (event) {
                event.preventDefault(); // Prevent form from submitting the traditional way

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("CreateFile", "CardCollection")",
                    data: $(this).serialize(),
                    success: function () {
                        // Refresh the current page
                        location.reload();
                    },
                    error: function (error) {
                        console.error("An error occurred:", error);
                        // Handle error - maybe display a message to the user
                    }
                });
            });

            $(".file-tab").click(function () {
                // Remove the active class from any other tabs
                $(".file-tab").removeClass("active-file-tab");

                // Add the active class to the clicked tab
                $(this).addClass("active-file-tab");

                // Fetch and display the index cards for the selected file
                var fileId = $(this).data("file-id");
                loadCards(fileId);
            });

            $("#create-card-btn").click(function () {
                // Check if there's an active file tab
                var activeTab = $(".file-tab.active-file-tab");
                if (activeTab.length === 0) {
                    alert("Please select a file first.");
                    return;
                }

                // If blank card already exists, make it active item in the carousel
                if ($('#carousel .blank-card').length > 0) {
                    $('#carousel .carousel-item.active').removeClass('active');
                    $('#carousel .carousel-item:last').addClass('active');
                    return;
                }

                // If no blank card exists, append one to the end
                var blankCardHtml = `
                            <div class="carousel-item blank-card">
                                <div class="index-card">
                                    <input type="text" class="card-title" placeholder="Card Title">
                                    <img src="/images/close.png" class="close-button" alt="close">
                                    <img src="/images/save.png" class="save-button" alt="save">
                                    <textarea class="card-body" placeholder="Card Body"></textarea>
                                </div>
                            </div>`;

                $('#carousel .carousel-inner').append(blankCardHtml);
                $('#carousel .carousel-item.active').removeClass('active');
                $('#carousel .carousel-item:last').addClass('active');

            });

            $(document).on('click', '.save-button', function () {
                var cardElement = $(this).closest('.index-card');
                var cardTitle = cardElement.find('.card-title').val();
                var cardBody = cardElement.find('.card-body').val();


                // Retrieve the file ID from the active tab
                var activeTab = $(".file-tab.active-file-tab");
                if (activeTab.length === 0) {
                    alert("Please select a file first.");
                    return;
                }
                var fileId = activeTab.data("file-id");

                // Call the function to save this card's data to the active file.
                createCardInFile(cardTitle, cardBody, fileId);
            });

            $(document).on('click', '.card-nav-item', function () {
                var cardIndex = $(this).data('index');  // Retrieve the associated card carousel index

                // Use Bootstrap's carousel method to navigate to the specific item
                $('#carousel').carousel(parseInt(cardIndex));
            });

            $("#collection-edit").click(function () {
                var titleInput = $("#collection-title");
                titleInput.prop("readonly", false); // Remove readonly property
                titleInput.focus(); // Focus the input

                $(this).hide(); // Hide the edit icon
                $("#collection-save").show();
            });

            $("#collection-title").on("keypress", function (e) {
                if (e.which == 13) { // Check if the key is the Enter key
                    e.preventDefault(); // Prevent default action
                    enterPressed = true;
                    originalTitle = $(this).val();
                    performUpdate();
                }
            });

            $(document).on('mousedown', '#collection-save', function () {
                enterPressed = true;
                originalTitle = $('#collection-title').val();
                performUpdate();

            });

            $("#collection-title").blur(function () {
                if (!enterPressed) {
                    $(this).val(originalTitle);  // Reset to original value if Enter was not pressed
                }
                enterPressed = false;  // Reset for the next blur event
            });

            // Places the cursor at the end of the word on focus
            $("#collection-title").on('focus', function () {
                var value = $(this).val();
                $(this).val('');
                $(this).val(value);
            });

            initializeCarousel(); // Might not be necessary
        });

        function performUpdate() {
            updateCollectionName(@Model.Id);
            $("#collection-save").hide();
            $("#collection-edit").show();
            $("#collection-title").prop("readonly", true);
        }

        function updateCollectionName(collectionId) {
            // Get the updated collection name
            var updatedName = $("#collection-title").val();

            // Send AJAX request to update the field on your server
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateCollection", "CardCollection")",
                data: {
                    Id: collectionId,
                    Name: updatedName
                },
                success: function (data) {
                    // Success reflected in name change
                },
                error: function () {
                    alert("An error occurred. Please try again later.");
                }
            });
        }


        function createCardInFile(cardTitle, cardBody, fileId) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("CreateCard", "CardCollection")",
                data: {
                    title: cardTitle,
                    body: cardBody,
                    fileId: fileId
                }, // Pass card information to server
                success: function (data) {
                    loadCards(fileId)
                },
                error: function (xhr, status, error) {
                    console.error("Error creating card:", xhr.responseText);
                }
            });
        }

        function loadCards(fileId) {
            $.ajax({
                type: "GET",
                url: "/CardCollection/GetFilePartial",
                data: { fileId: fileId }, // Pass fileId to server
                success: function (data) {
                    $('#carousel-container').html(data); // Inserts card partial into carousel container
                    initializeCarousel();

                    // Extract titles and populate the list
                    let titles = [];
                    $('#carousel-container .card-title').each(function () {
                        titles.push($(this).val());
                    });
                    populateTitleList(titles);
                    setNavActiveCard();
                },
                error: function () {
                    alert('An error occurred while loading the cards. Please try again.');
                }
            });
        }

        function populateTitleList(titles) {
            var index = 0;
            let $titleList = $('#card-nav');
            $titleList.empty(); // Clear any existing titles

            titles.forEach(title => {
                $titleList.append(`<div class="card-nav-item" data-index="${index}">${title}</div>`);
                index++;
            });
        }

        function initializeCarousel() {
            $('#carousel').on('slid.bs.carousel', function () {
                console.log("Carousel slid event triggered");
                setNavActiveCard()
            });
        }

        function setNavActiveCard() {
            let currentIndex = $('#carousel .carousel-item.active').data('index');  // Get active carousel item's index

            $('.card-nav-item.active').removeClass('active');  // Remove active class from any navigation item
            $(`.card-nav-item[data-index="${currentIndex}"]`).addClass('active');
        }
        
    </script>
}